# PyPro: Challenge 2

### This challenge is due on Saturday, October 5th, 2024, at 8pm.

`These exercises offer a diverse array of tasks that assess your comprehension of fundamental Python concepts such as loops, data types, string manipulations, list comprehensions, and higher-order functions.`

| Levels | Level Description | Estimated Completion Time per Exercise |
| :----- | :---------------: | -------------------------------------: |
| L1     | Beginner. The solutions can typically be found in standard textbooks. | 5 - 10 minutes |
| L2     | Intermediate. Requires problem-solving skills. Solutions are not directly found in textbooks. | 10 - 20 minutes |
| L3     | Advanced. You should be capable of using Python to solve more intricate problems involving libraries, data structures, and algorithms. | 20 - 30 minutes |

---

#### Question 1  
**Level 1**

**Task:**  
Develop a program to find all numbers between 2000 and 3200 (inclusive) that are divisible by 7 but not multiples of 5. Display these numbers as a single line of output, separated by commas.

---

In [6]:
L = []
for i in range(2000, 3201):
    if i % 7 and not(i % 5):
        L.append(i)
print(L)

[2000, 2005, 2010, 2015, 2020, 2025, 2035, 2040, 2045, 2050, 2055, 2060, 2070, 2075, 2080, 2085, 2090, 2095, 2105, 2110, 2115, 2120, 2125, 2130, 2140, 2145, 2150, 2155, 2160, 2165, 2175, 2180, 2185, 2190, 2195, 2200, 2210, 2215, 2220, 2225, 2230, 2235, 2245, 2250, 2255, 2260, 2265, 2270, 2280, 2285, 2290, 2295, 2300, 2305, 2315, 2320, 2325, 2330, 2335, 2340, 2350, 2355, 2360, 2365, 2370, 2375, 2385, 2390, 2395, 2400, 2405, 2410, 2420, 2425, 2430, 2435, 2440, 2445, 2455, 2460, 2465, 2470, 2475, 2480, 2490, 2495, 2500, 2505, 2510, 2515, 2525, 2530, 2535, 2540, 2545, 2550, 2560, 2565, 2570, 2575, 2580, 2585, 2595, 2600, 2605, 2610, 2615, 2620, 2630, 2635, 2640, 2645, 2650, 2655, 2665, 2670, 2675, 2680, 2685, 2690, 2700, 2705, 2710, 2715, 2720, 2725, 2735, 2740, 2745, 2750, 2755, 2760, 2770, 2775, 2780, 2785, 2790, 2795, 2805, 2810, 2815, 2820, 2825, 2830, 2840, 2845, 2850, 2855, 2860, 2865, 2875, 2880, 2885, 2890, 2895, 2900, 2910, 2915, 2920, 2925, 2930, 2935, 2945, 2950, 2955, 2960, 2965, 2970, 2980, 2985, 2990, 2995, 3000, 3005, 3015, 3020, 3025, 3030, 3035, 3040, 3050, 3055, 3060, 3065, 3070, 3075, 3085, 3090, 3095, 3100, 3105, 3110, 3120, 3125, 3130, 3135, 3140, 3145, 3155, 3160, 3165, 3170, 3175, 3180, 3190, 3195, 3200]

#### Question 2  
**Level 1**

**Task:**  
Create a function that computes the factorial of a specified integer. Display the result in a single line of output. For example, if the input is:  
`8`  
Then, the output should be:  
`40320`

---

In [3]:
def factorial(n):
    if n < 0:
        return "Error, enter n positive"
    elif n == 0 or n== 1:
        return 1
    else:
        return n*factorial(n-1)

factorial(5)

120

#### Question 3  
**Level 1**

**Task:**  
Given an integer `n`, generate a dictionary with entries (i, i*i) for all integers from 1 to `n` (inclusive). Print the resulting dictionary. For example, if the input is:  
`8`  
Then, the output should be:  
`{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}`

---

In [5]:
def dict_generate(n):
    dict ={i : i*i for i in range(1,n+1)}
    return dict

dict_generate(10)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### Question 4  
**Level 1**

**Task:**  
Create a program that reads a series of comma-separated numbers from the console, then generates and prints both a list and a tuple containing those numbers. For example, if the input is:  
`34,67,55,33,12,98`  
The output should be:  
`['34', '67', '55', '33', '12', '98']`  
`('34', '67', '55', '33', '12', '98')`

---

In [10]:
serie= input("enter your srie number separated by comma: ")
serie_list = serie.split(',')
serie_tuple= tuple(serie_list)

print(serie_list)
print(serie_tuple)

enter your srie number separated by comma:  34,67, 55, 33, 12, 98, 100

['34', '67', ' 55', ' 33', ' 12', ' 98', ' 100']
('34', '67', ' 55', ' 33', ' 12', ' 98', ' 100')

#### Question 5  
**Level 1**

**Task:**  
Create a class that has two methods:  
- `getString`: To accept a string input from the console.  
- `printString`: To display the string in uppercase.  
Include a simple test function to demonstrate the class methods.

---

In [ ]:
class string_class:
    def __init__(self):
        self.str_to= ""
    def getString(str_in):
        self.str_inputed = input("Enter your string: ")
    def printString(str