In [15]:
def month_day(n):
    switch={
      0: "This month has 31 days",
      1: "This month has 28 days",
      2:"This month has 31 days",
      3:"This month has 30 days",
      4: "This month has 31 days",
      5: "This month has 30 days",
      6:"This month has 31 days",
      7:"This month has 31 days",
      8: "This month has 30 days",
      9: "This month has 31 days",
      10:"This month has 30 days",
      11:"This month has 31 days",
      }
    return switch.get(number,"Invalid input")

n = int(input("Enter the day number:"))
print(month_day(n))

Enter the day number: 2

This month has 31 days

### Exercice 1

In [8]:
n = int(input("Enter n: "))

s = 0 
p = 1

for i in range(n):
    if i % 2 != 0:
        s+= (i+3)
    else:
        p*=(i+3)

print(f"The sum of odd is {s} and the product is {p}")

Enter n:  5

The sum of odd is 10 and the product is 105

### Exercice 2

In [24]:
n = int(input("Enter n: "))

if n== 0 or n== 6:
    print("Weekend")
elif n == 1:
    print("Monday")
elif n==2:
    print("Tuesday")
elif n==3:
    print("Wednesday")
elif n==4:
    print ("Thursday")
elif n==5: 
    print("Friday")
else:
    print("Invalid: enter between 0 and 6")

Enter n:  2

Tuesday

### Exercice 3

In [28]:
n = int(input("Enter n: "))

list1 = [0, 2, 4, 6, 7, 9, 11]
list2 = [3, 5, 8, 10]

if n in list1:
    print ("This month of a leap year has 31 days")
elif n in list2:
    print("This month has 30 days") 
elif n==1:
    print("This month of a leap year has 28 days")
else:
    print("Enter a number between 0 and 11")

Enter n:  2

This month of a leap year has 31 days

### Exercice 4

In [1]:
name = "Christophe HOUNWANOU"

for i in range(3):
    print(f"My name is {name}")

My name is Christophe HOUNWANOU
My name is Christophe HOUNWANOU
My name is Christophe HOUNWANOU

In [4]:
i = 0
while i < 3:
    print(f"My name is {name}")
    i+=1

My name is Christophe HOUNWANOU
My name is Christophe HOUNWANOU
My name is Christophe HOUNWANOU

### Exercice 5

In [13]:
a0= int(input("Enter x0: "))
a1= int(input("Enter x0: "))

print ("The first 15 terms of Fibonacci sequence are: ")
print(f"a0 = {a0}")
print(f"a1 = {a1}")
for i in range(2,14):
    x = a0 + a1
    print(f"a{i} = {x}")
    a0 = a1
    a1 = x

Enter x0:  0
Enter x0:  1

The first 15 terms of Fibonacci sequence are:
a0 = 0
a1 = 1
a2 = 1
a3 = 2
a4 = 3
a5 = 5
a6 = 8
a7 = 13
a8 = 21
a9 = 34
a10 = 55
a11 = 89
a12 = 144
a13 = 233

### Exercice 6

In [17]:
x0= int(input("Enter x0: "))
x1= int(input("Enter x0: "))

print ("The first 30 terms of Fibonacci sequence are: ")
print(f"x0 = {x0}")
print(f"x1 = {x1}")
for i in range(2,29):
    y = x1/3 + 3*x0
    print(f"x{i} = {y}")
    x0 = x1
    x1 = y

Enter x0:  2
Enter x0:  4

The first 30 terms of Fibonacci sequence are:
x0 = 2
x1 = 4
x2 = 7.333333333333333
x3 = 14.444444444444445
x4 = 26.814814814814817
x5 = 52.27160493827161
x6 = 97.86831275720166
x7 = 189.43758573388206
x8 = 356.75080018289896
x9 = 687.2296905959458
x10 = 1299.3289640806788
x11 = 2494.7987264813974
x12 = 4729.586467735836
x13 = 9060.925002022805
x14 = 17209.067737215108
x15 = 32919.13091847345
x16 = 62600.24685113647
x17 = 119624.14170579918
x18 = 227675.45445534246
x19 = 434764.2432691784
x20 = 827947.7777890868
x21 = 1580275.3224038975
x22 = 3010601.7741685594
x23 = 5744359.891934546
x24 = 10946591.953150528
x25 = 20881943.660187148
x26 = 39800423.74618063
x27 = 75912638.89595498
x28 = 144705484.20386022

### Exercice 7

In [18]:
year = int(input("Enter the year: "))

if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("This is a leap year")
else:
    print("This is a non-leap year")

Enter the year:  2000

This is a leap year

In [9]:
year = int(input("enter the year : "))
leap_year = (year % 4 == 0) and ((year % 100 != 0) or (year % 400 == 0))
print(f"{year} is a leap year : {leap_year}")

enter the year :  2020

2020 is a leap year : True

### Exercice 8

In [14]:
m = int(input("Enter m: "))

sum_square = 0 

for i in range(1,m+1):
    sum_square+= i**2
print(f"The sum of the{m} first  integers is {sum_square}")

Enter m:  3

The sum of the3 first  integers is 14

In [15]:
#with the while loop
n = int(input("Enter n: "))
j = 1
s= 0
while j <= n:
    s += j**2
    j+=1

print(f"The sum of the {n} first  integers is {s}")

Enter n:  3

The sum of the 3 first  integers is 14

In [13]:
#8-b

M = int(input("Enter M : "))

sum_square = 0

for n in range(1, M + 1):
    sum_square += n**2
    if sum_square >= M:
        break

print(f"The smallest n such that the sum of squares is ≥ {M} est {n}")

Enter M :  23

The smallest n such that the sum of squares is ≥ 23 est 4

### Exercice 9

In [5]:
#9-a
number = int(input("enter the number: "))

print(f"All divisors of {number} are: ")
for i in range(1,number + 1):
    if number%i == 0:
        print(i)

enter the number:  12

All divisors of 12 are:
1
2
3
4
6
12

In [16]:
#9-b

M = int(input("Enter a value for M: "))

sum_of_squares = 0
n = 1

while sum_of_squares < M:
    sum_of_squares += n**2
    if sum_of_squares >= M:
        break
    n += 1

print(f"The smallest n such that the sum of squares is ≥ {M} is: {n}")

Enter a value for M:  345

The smallest n such that the sum of squares is ≥ 345 is: 10

### Exercice 8-b

In [18]:
n = int(input("Enter an integer: "))

i = 2

print(f"Prime factors of {n} are:")

while i * i <= n:
    while n % i == 0:
        print(i, end=" ")
        n //= i
    i += 1

if n > 1:
    print(n)

Enter an integer:  268

Prime factors of 268 are:
2 2 67

### Exercice 10

In [19]:
n = int(input("Enter an integer between 0 and 9: "))
N = int(input("Enter another natural number N: "))

if 0 <= n <= 9:
    print(f"Multiplication table of {n} up to {N}:")
    for i in range(1, N + 1):
        print(f"{n} x {i} = {n * i}")
else:
    print("Invalid input. Please enter a number between 0 and 9.")

Enter an integer between 0 and 9:  2
Enter another natural number N:  8

Multiplication table of 2 up to 8:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16

### Exercice 11

In [20]:
multiples = [i for i in range(41) if i % 3 == 0 or i % 7 == 0 or i % 11 == 0]
print(multiples)

[0, 3, 6, 7, 9, 11, 12, 14, 15, 18, 21, 22, 24, 27, 28, 30, 33, 35, 36, 39]

### Exercice 12

In [21]:
x = float(input("Enter a float value: "))
floor_x = int(x) if x == int(x) else int(x) - 1 if x < 0 else int(x)
print(f"The floor of {x} is: {floor_x}")

Enter a float value:  5.6794

The floor of 5.6794 is: 5

### Exercice 13

In [22]:
while True:
    x = float(input("Enter the x coordinate: "))
    y = float(input("Enter the y coordinate: "))

    if x == 0 and y == 0:
        print("The point is at the origin.")
    elif x == 0:
        print("The point lies on the y-axis.")
    elif y == 0:
        print("The point lies on the x-axis.")
    elif x > 0 and y > 0:
        print("The point is in the 1st quadrant.")
    elif x < 0 and y > 0:
        print("The point is in the 2nd quadrant.")
    elif x < 0 and y < 0:
        print("The point is in the 3rd quadrant.")
    elif x > 0 and y < 0:
        print("The point is in the 4th quadrant.")
    
    if input("Do you want to quit? (yes to quit, any other key to continue): ").lower() == "yes":
        break

Enter the x coordinate:  0
Enter the y coordinate:  1

The point lies on the y-axis.

Do you want to quit? (yes to quit, any other key to continue):  no
Enter the x coordinate:  yes

ValueError: could not convert string to float: 'yes'

### Exercice 14

In [23]:
while True:
    x = int(input("Enter an integer between 0 and 9: "))
    while x < 0 or x >= 10:
        x = int(input("Invalid. Enter an integer between 0 and 9: "))

    max_value = int(input("Enter an integer between 0 and 255: "))
    while max_value < 0 or max_value >= 256:
        max_value = int(input("Invalid. Enter an integer between 0 and 255: "))

    multiples = [i for i in range(max_value + 1) if i % x == 0]
    print(f"Multiples of {x} between 0 and {max_value}: {multiples}")

    if input("Do you want to continue? (yes to continue, any other key to quit): ").lower() != "yes":
        break

Enter an integer between 0 and 9:  3
Enter an integer between 0 and 255:  34

Multiples of 3 between 0 and 34: [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33]

Do you want to continue? (yes to continue, any other key to quit):  f